<div class="col-ms-12">
  <p>
    This is a simple Rails web app making use of 500px's API. I'm using this as a testbed for a handful of ideas (including RESTful API client/auth encapsulation, ActiveRecord-like ORM integration, etc).
  </p>
</div>
