<div class="photo">
  <div id="info" class="hidden">
    <p id="name"><%= photo.name %></p>
    <p id="author"><%= photo.user.fullname %></p>
  </div>
  <div class="photo-images">
    <% photo.images.each do |image| %>
      <%= image_tag image.url, class: "img-thumbnail" %>
    <% end %>
  </div>
</div>
